<!-- Step 1: Define HTML Form in component template-->
<div class="container-fluid">
  <h2>Registration Form</h2>
  <!--Step 3:Use the directives provided by reactive forms model to associate the model with the view.-->
  <form [formGroup]="registrationForm">
    {{registrationForm.value | json}} 
    <div class="form-group">
      <label>Username</label>
      <input id="userName" formControlName="userName" type="text" class="form-control" required>
      <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" 
      class="alert alert-danger">
  
    <div *ngIf="userName?.errors?.required">
      Name is required.
    </div>
    </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control">
      </div>
      <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>
    </div>
      <button class="btn btn-primary" type="submit">Register</button>
      <button (click)="LoadApiData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>
  </form>
  <!--Formgroup.value will provide the value of the form -->
 
</div>